@charset "UTF-8";
/* CSS Document */


body {
	margin: 0;
	overflow: scroll;
	cursor: url(img/text.png), auto;
}

#container {
	position: relative;
	margin: 0;
	padding: 0;
}

img#bg {	
	position: relative;
	width: 1408px;
	height: 1056px;
	z-index: -1000;
}

#info {	
	position: absolute;
    	width: 35px;
    	height: 64px;
    	left: 1286px;
    	top: 86px;
}


#goback {
	position: absolute;
	width: 91px;
    	height: 40px;
    	left: 673px;
    	top: 975px;}

#star1 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 705px;
	top: 214px;
}

#star2 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 600px;
	top: 335px;
}

#star3 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 735px;
	top: 385px;
}

#star4 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 560px;
	top: 430px;
}

#star5 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 735px;
	top: 530px;
}

#star6 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 625px;
	top: 630px;
}

#star7 {	
	position: absolute;
	width: 80px;
	height: 80px;
	left: 655px;
	top: 760px;
}

#star8 {	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 716px;
	top: 675px;
}

#pos {	
	position: absolute;
	width: 603px;
	height: 892px;
	left: 400px;
	top: 70px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

#fox1 {	
	position: absolute;
	width: 72px;
	height: 72px;
	left: 409px;
	top: 138px;
}

#fox2 {	
	position: absolute;
	width: 72px;
	height: 72px;
	left: 484px;
	top: 127px;
}

#wkshps {	
	position: absolute;
	width: 154px;
	height: 142px;
	left: 557px;
	top: 89px;
}

#chris {	
	position: absolute;
	width: 136px;
	height: 135px;
	left: 715px;
	top: 89px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

a.button1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text1.png), auto;
    text-decoration: none;
}

a.button2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text2.png), auto;
    text-decoration: none;
}

a.button3 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text3.png), auto;
    text-decoration: none;
}

a.button4 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text4.png), auto;
    text-decoration: none;
}

a.button5 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text5.png), auto;
    text-decoration: none;
}

a.button6 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text6.png), auto;
    text-decoration: none;
}

a.button7 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text8.png), auto;
    text-decoration: none;
}

a.button8 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: url(img/text7.png), auto;
    text-decoration: none;
}

